.navbar
  background: url('../images/dark-bg.jpg')
  height 100vh
  display flex
  flex-direction column
  padding: 80px 20px 20px 20px
  flex-basis: 15%
  img
    margin-bottom: 40px
  hr
    width: 90%
    margin: 15px auto
  a
    text-decoration: none
    text-align: center
    div
      &:hover
        text-decoration underline
    .new-comp-button
      color #fff
      height 100%
      text-transform: uppercase
      font-size: 15px
