@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background offwhite
  box-sizing border-box

.navbar
  height 50px
  background gray
  .new-comp-button
    width 200px
    float right
    height 100%
    font-size 20px
    padding 12px
    color #125688
    &:hover
      background #fff
.competitions
  display flex
  flex-wrap wrap
  max-width 1200px
  width 100%
  margin 0 auto
  h2
    width 100%
    text-align center
  a
    width 33.33%
  span
    position absolute
    left 95%
    top 5px
    font-size 15px
    font-weight bold
    &:hover
      color #fff

.comp
  div
    width 50%
    display inline-block
    vertical-align top
    font-size 50px
  .comp-name
    padding 200px 150px 100px 150px
    text-align center
    color #125688

.new-competition
    text-align center
    input
      font-size 45px
      border 5px solid #125688
      border-radius 5px
      margin 30px auto
      padding 5px

.photo-container
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 2rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  position relative
  img
    width calc(100% + 4rem)
    margin-left -2rem
    margin-top -2rem
    max-width none

.photo-grid
  display flex
  flex-wrap wrap
  max-width 1200px
  margin 0 auto

.grid-figure
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 2rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  position relative
