// mixins
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

background-img(url)
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../images/'+url)
  background-size: cover
  height: 100vh
