.sidenav
  background: url('../images/dark-bg.jpg')
  text-transform: uppercase
  height 100vh
  display flex
  margin-bottom: 0
  flex-direction column
  padding: 80px 20px 20px 20px
  flex-basis: 15%
  img
    margin-bottom: 40px
  hr
    width: 90%
    margin: 15px auto
  a
    text-decoration: none
    text-align: center
    div
      color #fff
      height 100%
      font-size: 15px
      &:hover
        text-decoration underline